/* Reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Typo */
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    font-size: 14px;
}

/* Common */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
a{
    text-decoration: none;
}

/* Header */
header{
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}
.left .logo-header,
.left .nav-header li{
    margin-right: 10px;
}
.right a.btn,
.right .nav-header li{
    margin-left: 10px;
}
.logo-header{
    vertical-align: middle;
}
.left > .nav-header,
.right > .nav-header{
    vertical-align: normal;
}
.logo-header,
.nav-header,
.nav-header li{
    display: inline-block;
}
.nav-header li a
{
    color: black;
}
a.btn{
    display: inline-block;
}
.btn
{
    padding: 4px 10px;
}
.btn.btn-blue{
    background-color: #0061ff;
    color: white;
}
/* Div Hero */
.hero{
    background-color: #b4d0e7;
    border: 1px solid black;
}
h1{
    font-size: 48px;
}
.container{
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}
.hero .right img{
    width: 100%;
}
.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
}
.down-50{
    position: relative;
    bottom: -50px;
}
.hero .container h1,
.hero .container p,
.hero .container a.btn{
    margin-bottom: 15px;
}
