/* RESET */
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* TYPO */
body
{
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.clearfix::after
{
    content: "";
    display: table;
    clear: both;
}


.d-block
{
    display: block;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

a{
    text-decoration: none;
}

.w-30
{
    width: 30%;
}

.w-33{
    width: calc((100%/3) - 20px);
}

.centrale
{
    margin: 0px 30px;
}
.w-40
{
    width: 40%;
}

.w-50
{
    width: 50%;
}

.w-60
{
    width: 60%;
}

.w-70
{
    width: 70%;
}

.w-80
{
    width: 80%;
}

.w-90
{
    max-width: 90%;
}

.w-100
{
    width: 100%;
}

.container
{
    margin: 0 auto;
}

.relative
{
    position: relative;
}

.absolute
{
    position: absolute;
}

a.btn-long
{
    padding: 5px 10px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.link-old-style
{
    color: blue;
    text-decoration: underline;
}

a.btn
{
    padding: 5px 10px;
    display: inline-block;
}

.blue
{
    color: #0061ff;
}

.btn-blue
{
    background-color: #0061ff;
    color: white;    
}

.btn-white
{
    background-color: white;
    color: black;
}

.btn-white-border{
    border: 2px solid lightgray;  
}

/* HEADER */
header
{
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    background-color: white;
}

.nav-header li,
.nav-header,
.logo-header,
.button-header
{
    display: inline-block;
}

.nav-header,
.button-header,
header .left img
{
    vertical-align: middle;
}

.button-header,
.right .nav-header li
{
    margin-left: 10px;
}

.logo-header,
.left .nav-header li
{
    margin-right: 10px;
}

.nav-header li a
{
    color: black;
}

/* LANDING */
.landing
{
    background-color: #b4d0e7;
}

.landing h1{
    font-size: 56px;
    margin-bottom: 30px;
}

.image-landing
{
    width: calc(70% - 50px);
    margin-left: 50px;
}

.landing .container
{
    position: relative;
    bottom: -75px;
}

.description-landing p,
.description-landing .cancelar
{
    margin-bottom: 15px;
}

.description-landing a
{
    margin-bottom: 5px;
}

/* TARIFFE */
.tariffe .container
{
    margin-top: 175px;
}

.title-tariffe h2{
    margin-bottom: 25px;
}

.title-tariffe form
{
    margin-bottom: 20px;
}

.column-tariffe .title-column
{
    text-align: center;
    padding: 5px 0px;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.column-tariffe .body-column
{
    border: 1px solid lightgrey;
    padding: 0px 20px;
}

.column-tariffe li
{
    padding: 10px 0px;
    list-style: none;
}

.column-tariffe hr,
.column-team hr
{
    width: 30%;
    border: 1px solid lightgray;
}

.column-tariffe em
{
    color: lightgray;
}

.column-tariffe .price-tariffe,
.column-tariffe ul,

.column-tariffe .link-vecchio-stile,
a.btn-long.btn-blue
{
    margin-top: 20px;
}

.column-tariffe h3,
.column-tariffe h4,
.column-tariffe hr
{
    margin-top: 20px;
}

.column-tariffe.w-33 .body-column
{
    height: 900px;
}

.footer-tariffe
{
    margin: 20px 0px;
}

.footer-tariffe p
{
    margin: 10px 0px 20px 0px;
}

/* PARTNER */
.partner > .container
{
    margin-top: 100px;
}

.title-partner
{
    padding: 30px;
}

.title-partner h3,
.title-partner p,
.title a
{
    margin: 15px 0px;
}

/* OPERAZIONI */
.operazioni > .container:first-child
{
    margin-top: 100px;
}

.operazioni > .container:last-child
{
    margin-top: 50px;
}

section.operazioni h3
{
    margin: 15px 0px;
}

section.operazioni span
{
    text-decoration: underline;
}

section.operazioni
{
    margin-bottom: 125px;
}

/* TEAM */
section.team > .clearfix
{
    background-color: #f5f5f5;
}

.team .container h2
{
    margin-bottom: 20px;
}
.team .container .link-vecchio-stile
 {
     margin-bottom: 30px;
 }

.square
{
    height: 200px;
    width: 200px;
}

.green
{
    background-color: #a2d39b;
}

.brown
{
    background-color: #61082b;
}

.blu-normal
{
    background-color: #0093ce;
}

.red
{
    background-color: #ff1c1c;
}

.red2
{
    background-color: #d5001f;
}

.blue2
{
    background-color: #0d2481;
}

.blue-light
{
    background-color: #b4d0e7;
}

.yellow
{
    background-color: #ffd830;
}

.square
{
    height: 0;
    width: 50%;
    padding-bottom: 50%;
}

.square img
{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.border-light-green
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 10px solid #d0e9cd;
}

.center 
{
    background-color: #f5f5f5;
    padding: 40px;
}

.center img,
.center hr,
.center p
{
    margin-bottom: 20px;
}

/* TRY */
section.try
{
    background-color: #b4d0e7;
    padding: 100px 0px;
}

section.try
{
    color: #61082b;
}

/* FAQ */
section.faq
{
    margin: 100px 0px;
}

.faq li
{
    list-style: none;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    padding: 25px 0px;
}

.faq li:first-child
{
    border-top: 1px solid lightgray;
}

.faq h3
{
    margin: 0px 0px 50px 0px;
    font-size: 24px;
}

.faq li > .arrow
{
    padding-right: 25px;
}