/* RESET */
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* TYPO */
body
{
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.clearfix::after
{
    content: "";
    display: table;
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

a{
    text-decoration: none;
}

.w-30
{
    width: 30%;
}

.w-33{
    width: calc((100%/3) - 20px);
}

.centrale
{
    margin: 0px 30px;
}

.w-60
{
    width: 60%;
}

.w-70
{
    width: 70%;
}

.w-80
{
    width: 80%;
}

.w-90
{
    max-width: 90%;
}

.w-100
{
    width: 100%;
}

.container
{
    margin: 0 auto;
}

.relative
{
    position: relative;
}

/* HEADER */
header
{
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    background-color: white;
}

.nav-header li,
.nav-header,
.logo-header,
.button-header
{
    display: inline-block;
}

.nav-header,
.button-header,
header .left img
{
    vertical-align: middle;
}

a.btn
{
    padding: 5px 10px;
    display: inline-block;
}

.blue
{
    color: #0061ff;
}

.btn-blue
{
    background-color: #0061ff;
    color: white;    
}

.button-header,
.right .nav-header li
{
    margin-left: 10px;
}

.logo-header,
.left .nav-header li
{
    margin-right: 10px;
}

.nav-header li a
{
    color: black;
}

/* LANDING */
.landing
{
    background-color: #b4d0e7;
}

.landing h1{
    font-size: 56px;
    margin-bottom: 30px;
}

.image-landing
{
    width: calc(70% - 50px);
    margin-left: 50px;
}

.landing .container
{
    position: relative;
    bottom: -75px;
}

.description-landing p,
.description-landing .cancelar
{
    margin-bottom: 15px;
}

.description-landing a
{
    margin-bottom: 5px;
}

/* TARIFFE */
.tariffe .container
{
    background-color: whitesmoke;
    height: 1000px;
    margin-top: 125px;
}

.title-tariffe h2{
    margin-bottom: 25px;
}

.title-tariffe form
{
    margin-bottom: 20px;
}

.column-tariffe .title-column
{
    text-align: center;
    padding: 5px 0px;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.column-tariffe .body-column
{
    border: 1px solid lightgray;
    padding: 0px 20px;
}

a.btn-long
{
    padding: 5px 10px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.link-old-style
{
    color: blue;
    text-decoration: underline;
}

.column-tariffe li
{
    padding: 10px 0px;
    list-style: none;
}

.column-tariffe hr
{
    width: 30%;
    border: 1px solid lightgray;
}

.column-tariffe em
{
    color: lightgray;
}


.column-tariffe .price-tariffe,
.column-tariffe ul,

.column-tariffe .link-vecchio-stile,
a.btn-long.btn-blue
{
    margin-top: 10px;
}

.column-tariffe h3,
.column-tariffe h4,
.column-tariffe hr
{
    margin-top: 20px;
}